
.Loan-box {
    background-color: white;
    direction: rtl;
    height: auto;
    border-radius: 8px;
    margin: 20px auto;
  }
  .text-color {
    color: #c2cdd9;
  }
  .loan-title {
    display: flex;
    text-align: center;
    margin: 0px auto;
    width: 40%;

  }
  .loan-title div{
    text-align: right;
    font-size: 13px;
  }
  .loan-title span{
    color: #C2CDD9;
     font-size: 12px
  }
  .loan-title p{
    font-weight: bolder;
  }
  .loan-items {
    display: flex;
    flex-wrap: wrap;
    padding-top: 12px;
    
  }
  .box-footer {
    direction: rtl;
    text-align: right;
    padding: 0px 12px;
    }
  .last-item {
    width: 100%;

  }
  
.btn-style {
    background-color: hsla(169, 100%, 30%, 1);
    color: white;
    border-radius: 8px;
    border: 1px solid;
    padding: 10px 20px;
    width: calc(100% - 20px);
    margin-bottom: 16px;
    font-size: 16px;
  }
  .waiting-style{
    color: hsla(42, 96%, 61%, 1);
    padding-bottom: 27px;
    font-size: 16px;
  }
  .cancel-text{
    color: hsla(2, 65%, 49%, 1);
    margin-bottom: 0px !important;
    font-weight: 700;
    margin-top: -20px;
   
  }
  .cancel-resone{
    color: hsla(216, 72%, 64%, 1);
    font-size: 12px;
    padding-bottom: 10px;
  }
  
.point-style{
    color: hsla(217, 29%, 13%, 1);
    font-weight: 700;
    font-size: 16px;
    padding-bottom:28px;
    margin-top: -30px;

  }

  .des-Title{
    color: #C2CDD9;
    font-size: 12px;
    text-align: right
  }
  .description{
    font-size: 12px;
    margin-top: -12px;
    text-align: justify;
    padding-left: 21px;
  }