* {
    margin: 0px;
    padding: 0px;
  }
  .App {
    text-align: center;
    overflow-x: hidden;
    height: 100vh;
  }
  
  .main {
    border: 1px dotted #ead6d6;
    background-color: #101f400d;
    position: relative;
  }
  
  .text-align {
    align-self: center;
  }
  .mainBox {
    display: flex;
    justify-content: space-around;
    width: 50%;
  }
  