.hr {
  height: 1px;
  background: #ccc;
  width: 100%;
}
.cash_percent{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cashback-text{
  color: white;
  position: absolute;


  font-size: 15px;
}
.cashback_pic_style{
  width: 6vh !important;
}
.exit_button {
  background-repeat: no-repeat;
  background-image: url(/assets/images/exit.svg);
  background-position: center;
  width: 30px;
  height: 30px;
}
.name {
 
  .content {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
 

    .image {
      width: 20%;
      height: 15%;
     
      img {
        width: 100%;
 
      }

  
    }
    .content_name {
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 10px;
     
      span {
        color: #19212e;
        font-weight: 600;
        font-size: 14px;
        font-weight: 600;
        
      }
      img {
        width: 4vh;
      }
      @media (min-width:768px) {
        img{
          width: 5vh;
        }
      }
    }
  }
}
.poz-detail{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 0px;
  >div{
    display: flex;
    flex-direction: row;
    align-items: center;
    p{
      color: lightgray;
      margin-right: 5px;
      
    }
  }
  img{
    width: 25px;
    height: 25px;
  }
}
.retry-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sub_category {
  display: flex;
  flex-direction: column;
  align-items: end;
  color: #c2cdd9;
  font-size: 10px;
  span {
    height: 8vw;
    display: flex;
    align-items: center;
  }
}
.address {
  display: flex;
  flex-direction: column;
  align-items: end;
  color: #19212e;
  font-size: 12px;
  margin-top: 5px;
  span {
    margin-bottom: 2vw;
  }
}
.phone {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 12px;
  position: relative;

  a {
    color: #19212e;
  }
}
